body{
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.result-table {
    margin-top: 5%;
    border: 1px solid #ddd;
}

.result-table .exploits, .result-table .duplicates{
    width: 200px;
    text-align: right;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
}
